@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');
/*Globales*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: black;
    scroll-behavior:smooth;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.tittle {
    text-align: center;
    font-size: 4vmin;
    color: rgb(61, 94, 51);
    margin-bottom: 2rem;
}

.line {
    width: 150px;
    height: 4px;
    background: rgb(94, 119, 100);
    margin: 5px auto;
    border-radius: 5px;
}

/*HEADER*/

.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 1rem 5%;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.header::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(5px);
z-index: -1;
}

.logo {
    width: 60px;
    height: auto;
}

.nav-bar a {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.7rem;
}

.nav-bar a:hover {
    color: #dbc927;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/*RESPONSIVE*/

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 30%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .nav-bar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur (5px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 3);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.nav-bar {
        height: 14rem;
        background-color: black;
        opacity: 70%;
    }

    .nav-bar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.nav-bar a {
        transform: translateY(0);
        opacity: 100%;
    }

}

.hero {
    width: 100%;
    height: 110vh;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(img/foto\ horizontal\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.sub-head {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    color: #505050;
    font-weight: 600;
    line-height: .4;
    margin-bottom: 30px;
}

.tit-head {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: .5rem
}

.desc-head {
    color: #ffffff;
    font-size: 1.4rem;
    font: weight 500px;;
    margin-bottom: 1.2rem;
    letter-spacing: 2px;
    margin: 30px;
}

.cta-button {
    display: inline-block;
    letter-spacing: 2px;
    margin-right: -2px;
    font-size: 1.1rem;
    background-color: yellow;
    padding: 1.5rem 3rem ;
    color: black;
    border-radius: .6rem;
}

.cta-button:hover,
.cta-button:focus {
    color:rgb(11, 120, 7);
    background-color: #fff;
}


/*PRODUCTOS*/

.productos {
    width: 80%;
    margin: 80px auto;
}


@media (min-width: 768px) {
    .plantas {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 3 rem;
    }
}


.plantas .planta  {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.productos .plantas {
    margin-top: 50px;
}

.plantas h3 {
    font-size: 3vmin;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.plantas p {
    color: black;
    padding: 0px 40px;
    text-align:left;
}


.productos .cta-button {
margin-top: 30px;
margin-bottom: 30px;
}

.plantas img {
    height: 250px;
    width: 200px;
    object-fit: cover;
}

/*INSPO HOME FOTOS*/

.inspo-fotos {
    margin: 0;
    padding: 9rem;
    background-color: rgb(209, 209, 209);
    width: 100%;
}

.galeria-inspo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-inspo {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-inspo > img {
width: 100%;
height: 100%;
object-fit: cover;
display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(112, 17%, 25%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-inspo:hover .hover-galeria{
    transform: scale(1);
}

@media (max-width: 480px) {
    #inspohome-F {
        display: none;
    }
}

/*INSPO HOME VIDEO*/

.inpo-video {
    width: 100vh;
}

@media (min-width: 480px) {
    #inspohome-V {
        display: none;
    }
}

.video {
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.video::after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

.video-plantas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/*CONTACTO*/

.Contacto {
    width: 100%;
    height: 100vh;
    background-image: url(img/foto\ horizontal\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.form {
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 2px;
    padding: 3.5rem 1.5rem;
}

.form-container {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-auto-columns: 100%;
}

.form-input {
    font-family: "Poppins";
    font-size: 1rem;
    padding: 0.8rem 1rem;
    outline: none;
    border: none;
    border: 1px solid #d2d2c9;
    border-radius: 0.8rem;
}

.form-input--message {
    resize: none;
    padding: 1.8rem 1rem;
    margin-bottom: 1.5rem;
}

.Contacto .cta-button {
    border: none;
}

/*FOOTER*/

#pie {
    background-color: #ffffff;
    color: rgb(61, 94, 51);
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    font-weight: bold;
    font-size: 15px; 
}
